<form method="post">
  <style>
    label, input {
      display: block;
    }
  </style>
  
  <% csv = CSV.read('products.csv') %>
  
	<label for="name">Name:</label>
  <input id='name' type='text' name='name'>

  <label for="price">Price:</label>
  <input id="price" type="text" name="price">

  <label for="count">Count:</label>
  <input id="count" type="text" name="count">

  <label for="creator">Creator:</label>
  <input id="creator" type="text" name="creator">

  <input type="submit" value="Save">
</form>
